sudo: required
services:
  - docker
before_install:
  - docker build -t keisuke123456789/multi-client -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true keisuke123456789/multi-client npm run test -- --coverage

after_success:
  - docker build -t keisuke123456789/multi-client ./client
  - docker build -t keisuke123456789/multi-nginx ./nginx
  - docker build -t keisuke123456789/multi-server ./server
  - docker build -t keisuke123456789/multi-worker ./worker
  #docker hub へログイン
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_ID" --password-stdin
  #docker hub へプッシュ
  - docker push keisuke123456789/multi-client
  - docker push keisuke123456789/multi-nginx
  - docker push keisuke123456789/multi-server
  - docker push keisuke123456789/multi-worker
